/* General styling */
.section-images img,
.exhibitions img,
.events img {
   display: block;
   width: 100%;
}

/* Typography */
.hero h1,
.container h2,
.events h3,
.banner-background h2 {
   font-family: var(--ff-sct-titles);
}

.exhibitions h3 {
   font-family: var(--ff-ondisplay-undertitles);
}

.hero h1 {
   font-size: 2rem;
}

.container h2 {
   font-size: 1.75rem;
}

.events h3,
.exhibitions h3 {
   font-size: 1.75rem;
}

/* Layout styling */
main {
   gap: 7.5em;
   margin: 4em 0 10em 0;
}

.container {
   width: 90%;
   margin: 0 auto;
}

.hero,
.ysc-club,
.exhibitions,
.events {
   gap: 1em;
   max-width: 31.25em;
}

.hero article {
   gap: 0.35em;
}

.ysc-club {
   gap: 2em;
}

.ysc-club article {
   gap: 1em;
}

.exhibitions,
.events {
   gap: 2em;
}

.events__item article {
   box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.4);
   padding: 1em;
   gap: 0.75em;
}

.events__item h3 {
   line-height: 1.2;
}

.events__item {
   max-width: 400px;
}

.banner-background {
   background: #333;
   background-blend-mode: multiply;
   background-image: url(/images/banner-background.jpg);
   background-size: cover;
   background-position: center top;
   width: 100%;
   height: 30vh;
   justify-content: center;
   color: #fff;
}

.banner-content {
   margin: 0 auto;
   gap: 1em;
   width: 90%;
   max-width: 31.25em;
}

/* Responsive */
@media (min-width: 950px) {
   /* General responsiveness and some typography*/
   main p {
      font-size: 18px;
   }

   .container h2 {
      font-size: 2.5rem;
   }

   .container {
      max-width: 1600px;
   }

   /* Hero section responsiveness */
   .hero {
      flex-direction: row-reverse;
      gap: 0;
   }

   .hero article {
      gap: 1em;
      justify-content: center;
   }

   .hero > * {
      flex: 1;
      width: 50%;
   }

   .hero img {
      width: 75%;
      margin: 0 auto;
   }

   .hero h1 {
      font-size: 3.25rem;
   }

   .hero p {
      font-size: 22px;
   }

   .p-inline-size {
      inline-size: 70%;
   }

   /* YSC-Club section responsiveness */
   .ysc-club {
      flex-wrap: wrap;
      column-gap: 0;
      justify-content: center;
      box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.4);
      padding: 3em; 
   }

   .ysc-club .section-images,
   .ysc-club article {
      flex: 1;
      width: 50%;
      padding: 2em;
   }

   .ysc-club img {
      width: 80%;
      margin: auto;
   }

   .ysc-club article {
      justify-content: center;
      margin: auto;
   }

   .ysc-club article p {
      inline-size: 75%;
   }

   /* Exhibitions and events section responsiveness */
   .exhibitions,
   .events {
      flex-wrap: wrap;
      row-gap: 0.75em;
   }
   
   .exhibitions h2,
   .events h2 {
      flex-basis: 100%;
   }
   
   .exhibitions__item,
   .events__item {
      flex: 1;
   }

   .exhibitions {
      justify-content: center;
      gap: 1.5em;
   }

   .events {
      justify-content: space-between;
   }

   /* Banner background */
   .banner-background {
      height: 60vh;
   }

   .banner-content {
      max-width: 1600px;
      align-items: center;
   }

   .banner-content h2 {
      font-size: 2.5rem;
   }
}