.exhib-container {
   width: 90%;
   max-width: 31.25em;
   margin: 1em auto;
}

.exhib-container h1 {
   font-size: 2.25rem;
   font-family: var(--ff-sct-titles);
}

.grid-container {
   margin: 0 auto 5em;
   display: grid;
   grid-template-rows: repeat(5, auto);
   gap: 2em;
}

.grid-item {
   padding: 3em 2em 2em;
   gap: 1em;
   color: #000;
   box-shadow: 1px -1px 29px 2px rgba(0,0,0,0.25);
}

.grid-item img {
   width: 75px;
   border-radius: 50%;
   border: 3px solid #303030;
}

.grid-item-heading {
   align-items: center;
   justify-content: flex-start;
   gap: 1em;
}

.grid-item h2 {
   font-family: var(--ff-ondisplay-undertitles);
   font-size: 1.65rem;
}

.grid-item p {
   font-size: 16px;
}

.grid-item:nth-child(1) {
   border-top: 2px solid var(--clr-exb-red);
   border-bottom: 2px solid var(--clr-exb-red);
}

.grid-item:nth-child(2) {
   border-top: 2px solid var(--clr-exb-blue);
   border-bottom: 2px solid var(--clr-exb-blue);
}

.grid-item:nth-child(3) {
   border-top: 2px solid var(--clr-exb-green);
   border-bottom: 2px solid var(--clr-exb-green);
}

.grid-item:nth-child(4) {
   border-top: 2px solid var(--clr-exb-gray);
   border-bottom: 2px solid var(--clr-exb-gray);
}

.grid-item:nth-child(5) {
   border-top: 2px solid var(--clr-exb-purple);
   border-bottom: 2px solid var(--clr-exb-purple);
}

.cta-learnmore {
   font-weight: bold;
   color: var(--clr-cta-blue);
   font-family: var(--ff-sct-titles);
   text-decoration: none;
}

.cta-learnmore-red {
   color: var(--clr-exb-red);
}

.cta-learnmore-blue {
   color: var(--clr-exb-blue);
}

.cta-learnmore-green {
   color: var(--clr-exb-green);
}

.cta-learnmore-gray {
   color: var(--clr-exb-gray);
}

.cta-learnmore-purple {
   color: var(--clr-exb-purple);
}

.cta-learnmore:hover {
   text-decoration: underline;
}

/* Responsive */
@media (min-width: 950px) {
   .grid-container {
      grid-template-rows: auto auto auto;
      grid-template-columns: repeat(2, auto);
   }

   .exhib-container {
      max-width: 1600px;
   }

   .exhib-container h1 {
      font-size: 2.5rem;
   }

   .grid-item h2 {
      font-size: 1.75rem;
   }
   
   .grid-item p {
      font-size: 18px;
      line-height: 1.4;
   }

   .cta-learnmore {
      font-size: 1.25rem;
   }

   .grid-item {
      padding: 2em;
      gap: 2em;
   }
}