@import url(/css/variables.css);

/* Reset */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* General styling */
body {
   font-family: var(--ff-body);
}

body p {
   font-size: 18px;
}

html {
   scroll-behavior: smooth;
}

/* Utiliy classes */
.line-break::before {
   content: "\a";
   white-space: pre;
}

.flex-row-static {
   display: flex;
}

.flex-columns-to-rows,
.flex-column-static {
   display: flex;
   flex-direction: column;
}

.text-purple {
   color: var(--clr-cta-purple);
}

.bold-text {
   font-weight: 600;
}

.flex-break-column {
   display: none;
}

/* CTA's */
.cta {
   display: block;
   border: none;
   padding: 0.25em 2em;
   width: fit-content;
   border-radius: 0.35em;
   font-family: var(--ff-cta);
   font-size: 1.75rem;
   color: #fff;
   text-decoration: none;
   transition: background ease 200ms;
}

.cta-purple {
   background: var(--clr-cta-purple);
}

.cta-blue {
   background: var(--clr-cta-blue);
}

.cta-purple:hover {
   background: #d960ec;
}

.cta-blue:hover {
   background: #608af5;
}

.form-button {
   background: #fff;
   color: #000;
   padding: 0.125em 1.5em;
   font-size: 1.5rem;
}

.form-button:hover {
   background: rgb(219, 219, 219);
}

.on-site-nav {
   display: flex;
   gap: 0.5em;
   align-items: center;
   text-decoration: none;
   width: fit-content;
   color: var(--clr-cta-blue);
   font-weight: bold;
}

.on-site-nav:hover {
   border-bottom: 1px solid var(--clr-cta-blue);
}

/* Forms */
.form-button,
input,
textarea {
   border: 2px solid rgb(79, 79, 79);
   border-radius: 0.35em;
}

input {
   height: 40px;
}

textarea {
   height: 200px;
}

input:focus,
textarea:focus {
   outline: none;
   border: 4px solid rgb(79, 79, 79);
}

label {
   margin-bottom: -12px !important;
   margin-left: 2px;
   font-size: 0.75rem;
}

/* Header */
header {
   width: 90%;
   max-width: 31.25em;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   padding: 1.25em 0;
   position: relative;
}

.logo img {
   width: 70px;
}

.logo {
   align-items: center;
   gap: 0.4em;
   font-family: var(--ff-logo);
   letter-spacing: 1px;
   text-decoration: none;
   color: #000;
   font-size: 0.8rem;
}

nav,
#menu-checkbox {
   display: none;
}

#menu-checkbox:checked ~ nav {
   display: initial;
}

nav {
   position: absolute;
   z-index: 999;
   top: 100px;
   right: 0;
   width: 50%;
   max-width: 20em;
   border: 1px solid #000;
   border-radius: 0.35em;
   text-align: center;
   padding: 1em;
   background: #fff;
}

nav a {
   font-family: var(--ff-cta);
   font-size: 1.5rem;
   color: #000;
   display: block;
   padding: 0.5em 0;
   text-decoration: none;
}

header label {
   font-size: 2.25em;
   padding-bottom: 0.5em;
}

/* Footer */
footer {
   background: #5c5b5b;
   background-image: url(/images/footer_lodyas.png);
   color: #fff;
   padding: 3em 0;
   gap: 5em;
   width: 100%;
}

.footer-item {
   width: 90%;
   max-width: 31.25em;
   margin: 0 auto;
}

.footer-content {
   gap: 2em;
   
}

.footer-content__item,
.footer-content__form {
   gap: 1em;
}

.footer-logo-icons {
   gap: 2em;
}

.social-icons {
   gap: 1.5em;
}

.social-icons i {
   font-size: 3rem;
}

.logo-footer {
   color: #fff;
}

/* Footer typography */
.footer-logo-icons p {
   font-size: 1.5em;
}

.footer-content__article h2 {
   font-family: var(--ff-sct-titles);
}

.footer-content__info h3 {
   margin-bottom: 5px;
}

.footer-content__info p {
   opacity: 0.7;
}

/* YSC Club / Book tour guide - Typography and Forms */
.form-style input,
.form-style textarea {
   border: none;
   border-bottom: 1px solid #c4c4c4;
   width: 100%;
}

.form-style textarea {
   width: 100%;
   height: 75px;
}

.form-style input:focus,
.form-style textarea:focus {
   border-bottom: 2px solid #000;
}

.form-style label {
   font-weight: 600;
}

.form-style input::placeholder {
   padding-left: 2px;
   opacity: 0.5;
}

input[type="name"],
input[type="email"],
input[type="tel"],
input[type="text"],
textarea[type="text"] {
   font-size: 16px;
   padding-left: 2px;
   font-family: var(--ff-body);
}

/* Responsive */

@media (min-width: 950px) {
   header {
      max-width: 1600px;
   }

   .logo {
      font-size: 1rem;
   }
   
   header label {
      display: none;
   }

   nav {
      display: flex;
      justify-content: flex-end;
      gap: 2em;
      position: static;
      border-radius: none;
      border: none;
      flex: 1;
      max-width: fit-content;
   }

   nav a {
      display: inline-block;
   }

   nav a:hover {
      text-decoration: underline;
   }

   .highlighted {
      background: var(--clr-cta-blue);
      padding: 0.25em 0.75em;
      border-radius: 0.25rem;
      color: #fff;
      margin: auto;
      transition: background ease 200ms;
   }

   .highlighted:hover {
      background: #608af5;
      text-decoration: none;
   }

   .flex-columns-to-rows {
      flex-direction: row;
   }

   .footer-logo-icons {
      justify-content: space-between;
      align-items: center;
   }

   .footer-content {
      max-width: 100%;
   }

   .footer-content__item {
      flex: 1;
   }

   .footer-item {
      max-width: 1600px;
      margin: 0 auto;
   }

   .footer-content__article > * {
      inline-size: 80%;
   }

   .flex-break-column {
      display: initial;
      flex-basis: 100%;
      height: 0;
   }
}

@media (min-width: 1200px) {
   nav {
      gap: 4em;
   }

   nav a {
      font-size: 1.75rem;
   }
}