.container {
   gap: 4em;
   width: 100%;
   margin: 0 auto 6em;
}

.reg-item {
   width: 90%;
   max-width: 31.25em;
   margin: 0 auto;
}

.registration {
   background-image: url(../images/footer_lodyas.png);
   color: #fff;
   gap: 1.5em;
   padding: 2em;
   width: 90%;
   margin: 0 auto;
   justify-content: center;
   border-radius: 1rem;
}

.registration > * {
   max-width: 31.25em;
}

.registration h1 {
   font-family: var(--ff-sct-titles);
   font-size: 2rem;
}

.registration p {
   font-size: 1rem;
   line-height: 1.5;
}

.reg-content__item {
   gap: 1em;
}

.reg-content__item p {
   font-size: 0.85em;
}

.reg-content__item i {
   font-size: 1.5rem;
   width: 30px;
}

.reg-form {
   gap: 2em;
}

h2 {
   font-size: 1.25rem;
}

.reg-item .cta {
   padding: 0.125em 0.75em;
}

/* Responsive */
@media (min-width: 950px) {
   .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
      max-width: 1600px;
      width: 90%;
      column-gap: 1em;
   }

   .registration {
      grid-row: span 2;
      min-height: 65vh;
      justify-content: flex-start;
      border-radius: 0.75rem;
   }

   .reg-item__cta {
      grid-column: 3 / 4;
   }

   .reg-item__cta .cta {
      float: right;
      padding: 0.25em 1.5em;
   }

   .reg-item {
      padding: 2em;
   }

   .test {
      flex-wrap: wrap;
   }
}