@font-face {
   font-family: 'ArchivoBlack';
   src: url(/fonts/ArchivoBlack-Regular.ttf) format("truetype");
}

@font-face {
   font-family: 'BebasNeue';
   src: url(/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
   font-family: 'Inter';
   src: url(/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
   font-family: 'SecularOne';
   src: url(/fonts/SecularOne-Regular.ttf) format("truetype");
}

:root {
   --ff-body: 'Inter', sans-serif;
   --ff-sct-titles: 'SecularOne', sans-serif;
   --ff-logo: 'BebasNeue', sans-serif;
   --ff-cta: 'BebasNeue', sans-serif;
   --ff-ondisplay-undertitles: 'ArchivoBlack', sans-serif;

   --clr-cta-purple: #CB3CE2;
   --clr-cta-blue: #3D72FA;
   --clr-exb-red: #e11515;
   --clr-exb-blue: #2f56cb;
   --clr-exb-green: #41e741;
   --clr-exb-gray: #474545;
   --clr-exb-purple: #9514b8;
}