@font-face {
   font-family: 'ArchivoBlack';
   src: url(/fonts/ArchivoBlack-Regular.ttf) format("truetype");
}

@font-face {
   font-family: 'BebasNeue';
   src: url(/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
   font-family: 'Inter';
   src: url(/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
   font-family: 'SecularOne';
   src: url(/fonts/SecularOne-Regular.ttf) format("truetype");
}

:root {
   --ff-body: 'Inter';
   --ff-sct-titles: 'SecularOne';
   --ff-logo: 'BebasNeue';
   --ff-cta: 'BebasNeue';
   --ff-ondisplay-undertitles: 'ArchivoBlack';

   --clr-cta-purple: #CB3CE2;
   --clr-cta-blue: #3D72FA;
}